<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title *transloco="let t">{{t('RobotBlog')}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet"> 
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet"> 

 
</head>

<body *transloco="let t">

  <!-- ======= Header ======= -->
  <app-header></app-header>
  <!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
     
      <div class="swiper" style="height: 100vh; background:  top center;">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper"> 
          <div class="swiper-slide">
            <div class="row slider-text">
                <h1> {{ t('Warden_Robotics') }}</h1>
                <p>  {{ t('W_b_a_B_in_R') }}</p>
            </div>
            <img src="/assets/img/roboter-photo/2023-03-31114850.jpeg" class="slider-image" alt=""   > 
          </div>
          <div class="swiper-slide">
            <div class="row slider-text">
              <h1> {{ t('W_R1') }}</h1>
              <p>{{t('W_b_a_B_in_R1')}} </p>
          </div>
            <img src="/assets/img/roboter-photo/2023-03-31114851.jpeg" class="slider-image" alt=""    >
          </div>
          <div class="swiper-slide">
              <div class="row slider-text">
                <h1> {{ t('W_R2') }}</h1>
              <p>{{t('W_b_a_B_in_R2')}} </p>
            </div>
            <img src="/assets/img/roboter-photo/2023-03-311148571.jpeg" class="slider-image" alt=""  >
          </div> 
         
        </div> 
        <div class="swiper-pagination" >
          <a  class="swiper-button-next"  style=" position: absolute;  top:-435px;  left: 1620px;"></a>
          <a  class="swiper-button-prev"  style=" position: absolute;  top: -435px;  left: 20px;" ></a>
        </div>
      </div>
    
  </section>
  <!-- End Hero -->

  <main id="main">

     <!-- ======= About Section ======= -->
     <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 order-1 order-lg-2 "  data-aos="fade-left" data-aos-delay="100" style="justify-content: center; display: flex; "> 
            <video width="800" controls class="img-fluid" >
              <source src="/assets/img/Video_WardenRobotics.mp4" type="video/mp4" > 
            </video>
          </div> 
        </div>

        <!-- <button (click)="openPopup()">test</button> -->
        <!-- <div class="col-md-12 f-play-video" data-toggle="modal" data-target="#myVedio" (click)="openPopup()">
          <div class="col-lg-12 col-lg-offset-3">
            <img src="/assets/img/video2023-04-16 23-56-54.png" style="max-width:50%; margin-left: 20%;"> 
          </div>
        </div>
      
        <div id="myVedio" class="modal" role="dialog" [ngStyle]="{'display':displayStyle}"  >
            <div class="modal-dialog">
                <div class="modal-content" style="width: 800px;"> 
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Video</h4>
                    </div>
        
                    <div class="modal-body">
                      <video width="400" controls class="img-fluid" style="margin-left: 30%; ">
                        <source src="/assets/img/Video_WardenRobotics.mp4" type="video/mp4" > 
                      </video>
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closePopup()">Close</button>
                    </div>
                </div>
        
            </div>
        </div> -->

      </div>
      <h3 style="justify-content: center; display: flex; margin-top: 20px; font-weight: 300;">Demo Video</h3>
    </section>
    <!-- End About Section --> 

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up"> 
        <div class="row"> 
          <div class="col-lg-6 pt-4 pt-lg-0 order-1 order-lg-2 content "  data-aos="fade-left" data-aos-delay="100">
            <h3>{{t('Problem')}}</h3>
            <p class="fst-italic">
              {{t('B_i_R_r_Man_weil_sie_s_e_u_u_g_w')}}
            </p>  
          </div>
          <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="100">
            <img src="/assets/img/2023-04-12 23-14-04.png" class="img-fluid" alt="">
          </div>  
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up"> 
        <div class="row"> 
          <div class="diagImg1" data-aos="fade-right" data-aos-delay="100">
            <img src="/assets/img/Diagramm1.png" class="img-fluid" alt="">
            <h1></h1>
          </div>  
          <h1></h1>
          <h1></h1>
          <h1></h1>
          <h1></h1>

          <div class="diagImg2" data-aos="fade-right" data-aos-delay="100">
            <img src="/assets/img/Diagramm2.png" style="height: 100%; margin-left: 500px;" class="img-fluid" alt="">
          </div>  
        </div>

      </div>
    </section><!-- End About Section -->

     <!-- ======= Counts Section ======= -->
     <section id="about" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>{{t('Herk_B')}}</h3>
               
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class= "bx bx-alarm-exclamation"></i>
                    <span data-purecounter-start="0" data-purecounter-end="65" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>{{t('Stationar')}}</strong> {{t('Bran_sindod')}}</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box"> 
                    <i class="bx bxs-hot"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>{{t('Trage')}}</strong> {{t('Sie_erkennen_Feuer_erst_wenn_es_grgenug_ist')}}</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bx bx-shower"></i>
                    <span data-purecounter-start="0" data-purecounter-end="35" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong> Ungenau</strong> {{t('Beim_Start_des_L_wird_ttel_wahllos_v')}}</p>
                  </div>
                </div> 

              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

  

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
        <div>
          <div class="section-title">
            <h2>{{t('Die_Lung')}}</h2>
            <p>{{t('Eine_fr_Erkennung_Alarmierun_und_Eindämmung_stoppt_den_Brand_bevor_er_ausser_K_g')}}</p>
          </div> 
        </div>
        <div class="row">
          <div class="image col-lg-6" style='background-image: url("/assets/img/features.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-check-shield"></i> 
              <h4>{{t('Flexibel')}}</h4>
              <p>{{t('o_Bra_der_genau_an_die_Situation_angepa_i')}}</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bxs-timer"></i>
              <h4>{{t('Schnell')}}</h4>
              <p>{{t('di_En_von_Feuer_feine_schnelle_Alarmierung_und_sofortiges_E')}}</p>
            </div>
             
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-target-lock"></i>
              <h4>{{t('Zielgenau')}}</h4>
              <p>{{t('g_und_g_L_zur_V_von_K')}}</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->



    <!-- ======= Portfolio Section ======= -->
    <section id="" class="portfolio">
      <div class="container" data-aos="fade-up"> 

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/img/FireBot.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{t('Firebot')}}</h4>
                <ul style="color: white;">
                  <li>{{t('Autonom_agierend')}}</li>
                  <li>{{t('flexibel_nutzbar')}}</li>
                  <li>{{t('nicht_anlagengebunden')}}</li>
                  <li>{{t('Automatischer_Notruf')}}</li>
                  <li>{{t('modularer_Aufbau')}}</li>
                </ul> 
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/Methology.jpg" class="img-fluid" alt="" style="height: 516px;">
              <div class="portfolio-info">
                <h4>{{t('Methodik')}}</h4>
                <ul style="color: white;">
                  <li>{{t('Fusion_verschiedenster_Sensoren')}}</li>
                  <li>{{t('KI_Modell_fr_Weg_und_Feuerfindung')}}</li>
                  <li>{{t('Feuererkennung_mittels_Entscheidungsmatrix')}}</li>
                </ul>
              </div>
            </div>
          </div>   

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title"> 
          <p>{{t('Wettbewerbs_vorteile')}}</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-infinite"></i></div>
              <h4><a href="">{{t('Autonomie')}}</a></h4>
              <p>{{t('alleinstehend_und_nicht_schlauch_gebunden')}}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-transfer"></i></div>
              <h4><a href="">{{t('Vielseitigkeit')}}</a></h4>
              <p>{{t('innen_und_außen_nutzbar')}}</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-target-lock"></i></div>
              <h4><a href="">{{t('Präzision')}}</a></h4>
              <p>{{t('gezielte_Ausrichtung_auf_Brandherd')}}</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">{{t('Proaktivität')}}</a></h4>
              <p>{{t('direkte_Eindämmung_und_Alarmierung')}}</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

     
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{{t('Portfolio1')}}</h2>
          <p>{{t('Check_our_Portfolio')}}</p>
        </div> 

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-31114853.jpeg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-31114854.jpeg" class="img-fluid" alt="">
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-31114852.jpeg" class="img-fluid" alt="">
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-31114855.jpeg" class="img-fluid" alt="">
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-31114856.jpeg" class="img-fluid" alt="">
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-31114857.jpeg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-31114858.jpeg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-311148521.jpeg" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-311148532.jpeg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-311148533.jpeg" class="img-fluid" alt="">
            </div>
          </div> 
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-311148551.jpeg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-311148581.jpeg" class="img-fluid" alt="">
            </div>
          </div> 
          

          
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-311148552.jpeg" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-311148571.jpeg" class="img-fluid" alt="">
            </div>
          </div>
         
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/assets/img/roboter-photo/2023-03-311148531.jpeg" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section --> 

    <!-- ======= Testimonials Section ======= -->
    <!--
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/img/team-photos/1b41f162-db86-4848-824a-927cef6571e4.jpg" class="testimonial-img" alt="">
                <h3>Amin Antony</h3>
                <h4>{{t('Systemtechniker')}}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{t('Lorem_ipsum_dolor_sit_amet')}} 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>  


            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/img/team-photos/Bild2.png" class="testimonial-img" alt="">
                <h3>Niklas Blumtritt</h3>
                <h4>{{t('Lead_Developer')}}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   {{t('Lorem_ipsum_dolor_sit_amet1')}}  
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> 

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/img/team-photos/Bild1.png" class="testimonial-img" alt="">
                <h3>Lucas Dehmel</h3>
                <h4>{{t('Projektleitung_Gründer')}}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   {{t('Lorem_ipsum_dolor_sit_amet2')}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> 


            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/img/team-photos/Bild3.png" class="testimonial-img" alt="">
                <h3>Lukas Bartenstein</h3>
                <h4>{{t('Teamleitung_Gründer')}}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   {{t('Lorem_ipsum_dolor_sit_amet3')}}  
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> 


            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/img/team-photos/Bild4.png" class="testimonial-img" alt="">
                <h3>Srinivas Kachavarapu</h3>
                <h4>{{t('Software_Architect')}}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{t('Lorem_ipsum_dolor_sit_amet4')}} 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> 


            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/img/team-photos/Bild5.png" class="testimonial-img" alt="">
                <h3>Ramesh Rajan</h3>
                <h4>{{t('Systemtechniker')}}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{t('Lorem_ipsum_dolor_sit_amet5')}} 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> 

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/img/team-photos/Bild6.png" class="testimonial-img" alt="">
                <h3>Serges Koloko</h3>
                <h4>{{t('Konstrukteur')}}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{t('Lorem_ipsum_dolor_sit_amet6')}} 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> 

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/img/team-photos/Bild7.png" class="testimonial-img" alt="">
                <h3>Nils Brehme</h3>
                <h4>{{t('Business_Strategist')}}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{t('Lorem_ipsum_dolor_sit_amet7')}} 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> 

          </div>
          <div class="swiper-pagination">
            <a  class="swiper-button-next" style="position: absolute; top: -200px;"></a>
            <a  class="swiper-button-prev" style="position: absolute; top: -200px;"></a>
          </div>
        </div>

      </div>
    </section>
     -->
    <!-- End Testimonials Section -->
 
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title"> 
          <p>{{t('Team1')}}</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/assets/img/team/2023-04-08225923.png" class="img-fluid" alt="" style="width: 100%;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Lucas Dehmel</h4>
                <span>{{t('Projektleitung_Gründer')}}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="/assets/img/team/2023-04-08225935.png" class="img-fluid" alt="" style="width: 100%;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Lukas Bartenstein</h4>
                <span>{{t('Teamleitung_Gründer')}}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="/assets/img/team/2023-04-08225946.png" class="img-fluid" alt="" style="width: 100%;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Serges Koloko</h4>
                <span>{{t('Konstrukteur')}}</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="/assets/img/team/2023-04-08225955.png" class="img-fluid" alt="" style="width: 100%;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amin Antony</h4>
                <span>{{t('Systemtechniker')}}</span>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="/assets/img/team/2023-04-08230004.png" class="img-fluid" alt="" style="width: 100%;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ramesh Rajan</h4>
                <span>{{t('Systemtechniker')}}</span>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="/assets/img/team/2023-04-08230015.png" class="img-fluid" alt="" style="width: 100%;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Srinivas
                  Kachavarapu</h4>
                <span>{{t('Software_Architect')}}</span>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="/assets/img/team/2023-04-08230026.png" class="img-fluid" alt="" style="width: 100%;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nils
                  Brehme</h4>
                <span>{{t('Business_Strategist')}}</span>
              </div>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" >
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="/assets/img/team/2023-04-08230038.png" class="img-fluid" alt="" style="width: 100%;">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Niklas
                  Blumtritt</h4>
                <span>{{t('Lead_Developer')}}</span>
              </div>
            </div>
          </div> 

        </div>
        

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{{t('Contact')}}</h2>
          <p>{{t('Contact_Us')}}</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2446.553260430868!2d10.559336799999997!3d52.1788154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a55e50d78c7de9%3A0x99fda210bfb8492d!2sFakult%C3%A4t%20Informatik%2C%20Am%20Exer%202%2C%2038302%20Wolfenb%C3%BCttel!5e0!3m2!1sen!2sde!4v1681592195120!5m2!1sen!2sde" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>{{t('Location')}}:</h4>
                <p>Am Exer 2, Wolfenbüttel, Deutschland</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>{{t('Email')}}:</h4>
                <p>l.dehmel@ostfalia.de</p>
                <p>l.bartenstein@ostfalia.de</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>{{t('Call')}}:</h4>
                <p>+49134651234</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">{{t('Loading')}}</div>
                <div class="error-message"></div>
                <div class="sent-message">{{t('Your_message_has_been_sent')}}</div>
              </div>
              <div class="text-center"><button type="submit">{{t('Send_Message')}}</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 <app-footer></app-footer>
  <!-- End Footer -->

  <!-- <div id="preloader"></div> -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script> 
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>  -->

  <!-- Template Main JS File -->
  <!-- <script src="/assets/js/main.js"></script>  -->

</body>

</html>

<router-outlet></router-outlet>
